aiofiles
aiohttp 
asyncio 
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
motor 
numpy
pillow==9.5.0
psutil
wget
pyfiglet
pytz
future==0.18.3
py-tgcalls==1.2.9
ntgcalls==1.1.2
pykeyboard
pyshorteners
git+https://github.com/KurimuzonAkuma/pyrogram@dev
python-dotenv
pyyaml==6.0.1
requests
emojis
speedtest-cli
spotipy
tgcrypto
unidecode
yt-dlp
youtube-search
youtube-search-python
httpx==0.27.0
python-telegram-bot==21.1
cloudscraper
opencv-python
flask_restful
flask
gunicorn
gpytranslate==1.5.1
PyYAML
GitPython
uvloop
